<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Grupo Pede Pagode{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  {% block extra_css %}{% endblock %}
</head>

<body>

    <header class="navbar">
        <div class="nav-container">

            <a href="/" class="logo">
                <img src="{{ url_for('static', filename='images/Logo_Pede_Pagode.jpeg') }}" alt="Pede Pagode" class="logo-img">
            </a>

            <nav class="nav-links-container">
                <ul class="nav-links">
                    <li><a href="{{ url_for('pedido.pagina_pedido') }}">Pedir Pagode</a></li>
                    <li><a href="{{ url_for('repertorio.listar_repertorio') }}">Ver Setlist</a></li>
                </ul>
            </nav>

        </div>
    </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer class="rodape">
    <p class="rodape-texto">&copy; 2026 Grupo Pede Pagode. Todos os direitos reservados.</p>
  </footer>