{% extends "base.html" %}

{% block content %}

  <h1>Repertorio</h1>

  <div class="repertorio-container">

    {% if repertorio|length > 0 %}

        {% for musica in repertorio %}

          <div class="musica-card" data-id="{{ musica.id }}">

            <h2>{{ musica.nome }}</h2>

            <button onclick="reagir({{ musica.id }}, 'like')" class = "btn-like">
                ❤️
                <span class="contador-like">
                    {{ musica.likes }}
                </span>
            </button>

            <button onclick="reagir({{ musica.id }}, 'dislike')" class = "btn-dislike">
                👎
                <span class="contador-dislike">
                    {{ musica.dislikes }}
                </span>
            </button>

        </div>
        {% endfor %}



    {% else %}
      <p>Não há músicas cadastradas no repertório.</p>
    {% endif %}


  </div>

  <script src="{{ url_for('static', filename='js/repertorio.js') }}"></script>
  
{% endblock %}